* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* for preloader */
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url(Spinner-1s-200px.gif) no-repeat center;
    z-index: 9999;
}



/* for container */
.container_main {
    background: linear-gradient(90deg, rgb(29, 245, 238) 6%, rgba(235,242,242,1) 83%);
    display: flex;
    justify-content: space-around;

}

.text,
.img {
    /* background-color:palevioletred ; */
    height: 28vw;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
}

.img img {
    height: 30vw;
    width: 30vw;
}

.text h1 {
    font-size: 3.5vw;
    font-family: monospace;
    color: black;
    font-weight: bolder;
}


/* for feature */

.feature {
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.div1,
.div2,
.div3 {
    background-color: #D3D3D3;
    height: 400px;
    width: 450px;
    margin: 20px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid silver;

}

.div1:hover,
.div2:hover,
.div3:hover {
    background-color: silver;
    transition: all .3s ease-in-out;
}

.btn1 a button,
.btn2 a button,
.btn3 a button {
    background:rgb(15, 115, 112);
    color: white;
    border: none;
    font-size: x-large;
    padding: 15px 10px;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
}

.btn1 a button:hover,
.btn2 a button:hover,
.btn3 a button:hover {
    background:rgb(15, 115, 112);
    transition: all .3s ease-in-out;
}



/* createuser.php part css */
#create_user_header {
    height: 100vh;
}

.create_title {
    background:rgb(15, 115, 112);
    border: 1px solid rgb(2, 40, 2);
    width: 70%;
}

.create_title h2 {
    color: honeydew;
    margin: 12px 10px;
    text-align: center;
}

.btn_grp {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.main_form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(53, 53, 17);
    margin: 5% 5% 5% 5%;
    background: linear-gradient(90deg, rgb(29, 245, 238) 6%, rgba(235,242,242,1) 83%);
}

.main_form form input {
    border-radius: 10px;
}

footer{

    float:bottom;
    overflow: hidden;
    position: fixed;
    bottom:0;
    width:100%;
    background-color: #fff;
    overflow: hidden;
}

/* for transaction */
/* transaction ma j lakhyu */